# Device: x86_64 generic (GRUB/EFI/VMDK)
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_GRUB_IMAGES=y
CONFIG_GRUB_EFI_IMAGES=y
CONFIG_VMDK_IMAGES=y
CONFIG_VERSION_CODE="05"
CONFIG_VERSION_HWREV="X86"

# Storage / Filesystem
CONFIG_PACKAGE_kmod-fs-btrfs=y
CONFIG_PACKAGE_btrfs-progs=y
CONFIG_PACKAGE_kmod-fs-ntfs3=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_smartmontools=y
